.DS_Store
.venv
.idea/

sandbox/
*tz.pdf
*.txt
!lab5/CMakeLists.txt
!lab5/input.txt
**/main
**/tests
!lab6/tests/
!lab6/tests/**
**/tree_prog
**/my_tree
*.exe

**/cmake-build-*/
**/build/

*.o
*.obj
lab5/benchmark.json
